:root{
    --bs-blue: #0d6efd;
    --bs-basic: rgb(236, 225, 71);
}
#sideNav {

    background-color: rgb(236, 225, 71);
  }

  #chilin
  {
      color:cornflowerblue
  }

  .text-pri {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-basic), var(--bs-text-opacity)) !important;
  }